html {
  font-size: 16px;
  font-family:  '游ゴシック', YuGothic, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3','ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-feature-settings: "palt";
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #0073d1;
}

.blog p {
  line-height: 200%;
}

code {
  font-family: Consolas, Monaco, "Andale Mono", monospace;
  padding: 0 0.5rem;
  color: #ffffff;
  background-color: rgb(43, 43, 43);
  word-wrap: break-word;
}